@import url('meyers_reset.css');

body {
  font: 16px 'Helvetica', 'Arial', sans-serif;
  color: #444444;
  font-weight: lighter;
}

nav {
  display: none;
}

figure {
  text-align: center;
}

header figure {
  background: url('../assets/images/dummy_background.png');
  height: 300px;
  color: #fff;
}

header img {
  padding-top: 80px;
}

header figcaption {
  font-size: 40px;
}

header figure p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav a {
  color: #4f4444;
}

h2 {
  font-size: 44px;
  font-weight: lighter;
  text-align: center;
  margin: 50px 0;
  padding: 0 50px;
}

/* Tickets */

section:first-of-type h3 {
  text-align: center;
  margin: 10px 0;
}


.green_button {
  display: block;
  width: 60%;
  color: #fff;
  background-color: #008000;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  padding: 10px 20px;
}

a:hover.green_button {
  text-decoration: none;
  background-color: darkgreen;
}

/* Speakers */

section:nth-of-type(2) {
  margin-bottom: 200px;
}

.speakers h2 {
  margin-top: 140px 0 50px 0;
}

.speakers li {
  position: relative;
}

.speakers figure {
  margin-bottom: 50px;
  z-index: 1;
}

.speakers figcaption {
  color: #008000;
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;

}

.speakers dl {
  display: none;
  position: absolute;
  height: 95%;
  width: 95%;
  margin: 0px 5px 10px 5px;
  padding-bottom: 50px;
  background: black;
  color: #008000;
  text-align: center;
  top: 0;
  opacity: .8;
  z-index: 2;
}

.speakers dt {
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
}

.speakers dd {
  color: #fff;
  font-size: 12px;
  margin: 5px 25px;
}

.speakers a,
.speakers a:hover {
  color: #008000;
}

.speakers li:hover dl {
  display: block;
}

/* Schedule */

.schedule ul {
  display: block;
  box-sizing: border-box;
  font-size: 24px;
  margin: 10px auto;
  position: relative;
  overflow: auto;
  height: auto;
  width: 80%;
}

.schedule li:first-of-type {
  padding: 25px 15px 25px 0;
  text-align: right;
}

.schedule li:nth-of-type(2) {
  display: block;
}

.schedule li:nth-of-type(3) {
  position: absolute;
  top: 0;
  left: 0;
}

.schedule img {
  height: 65px;
}

dd > a,
dd > a:visited {
  color: #008000;
  font-size: 18px;
  font-weight: bold;
}

.paper {
  padding: 0 30px;
  line-height: 1.5;
}

.paper p {
  margin-bottom: 15px;
}

.paper .green_button {
  /*display: inline;*/
  /*font-size: 12px;*/
}

p > a {
  color: #008000;
  font-weight: bold;
}

.sponsors h3 {
  padding-left: 20px;
  font-weight: bold;
}

/*table {
  table-layout: fixed;
}

thead {
  display: none;
}

th[scope="row"] {
  display: none;
}

td {
  padding: 5px;
  outline: 1px solid red;
}

td.img_container {
  height: 65px;
}*/
